@import "compass/css3";

@mixin center {
	text-align: center;
}

html {
	background-image: url(../images/retina_wood.png);
}

body {
	font: {
		family: helvetica, sans-serif;
	}
	width: 500px; 
	margin: 0 auto;
	position: relative;
}

#app {
	@include border-radius(6px);
	border: 1px solid #eee;
	background: #eeeeef;
	margin: 100px 0;
	@include box-shadow(0px 10px 50px rgba(0, 0, 0, 0.27));
}

#header {
	border-bottom: 1px dotted #ccc;
	background: rgba(0,0,0,0.02);
	@include border-radius(5px 5px 0 0);
	@include box-shadow(0 9px 15px rgba(0, 0, 0, 0.07) inset);
	input {
		width: 100%;
		margin: 0;
		font-size: 1.3em;
		padding: 3%;
		border: none;
		outline: none;
		background: transparent;
		@include box-sizing(border-box);
	}
}
#header h1 {
	margin: 0;
	position: absolute;
	top: -80px;
	font-size: 4.4em;
	width: 100%;
	font-weight: bold;
	font-spacing: 0.02em;
	@include center;
	color: #414c5c;
	@include text-shadow(
		0px 1px 0 #64748d,
		0px 2px 0 #64748d,
		0px 3px 0 #64748d,
		0px 4px 0 #5d6c84,
		0px 5px 10px rgba(0,0,0,0.3)
	);
}

#todo-list {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
		border-bottom: 1px solid #AAB6BF;
		color: #5d6c84;
		position: relative;

		.toggle {
			position: absolute;
			@include appearance(none);
			margin: 8px 0 8px 5px;
			background: #C1CED8;
			height: 30px;
			width: 30px;
			@include border-radius(3px);
			//border: 3px solid #cecece;
			@include box-shadow(
				0px 2px 7px rgba(0, 0, 0, 0.3) inset,
				0 1px 0 rgba(255, 255, 255, 0.6)
			);

			&:checked {
				background: #dddddd;
			}
			&:checked:after {
				content: '✔';
				margin-left: 3px;
				line-height: 19px; /* 40 + a couple of pixels visual adjustment */
				font-size: 38px;
				color: #cccccc;
				@include text-shadow(
					0 -1px 0px #eeeeee,
					0 1px 0px #bbbbbb,
					0 2px 0px #b0b0b0
					);
			}

			&:not(:checked):hover:after {
				content: '✔';
				margin-left: 3px;
				line-height: 19px; /* 40 + a couple of pixels visual adjustment */
				font-size: 38px;
				color: #7CAB53;
				@include text-shadow(
					0 -1px 0px #B2D197,
					0 1px 0px #638945,
					0 2px 0px #638945
					);
			}
		}

		label {
			padding: 1em;
			margin-left: 40px;
			display: block;
		}

		button {
			position: absolute;
			right: 0; top: 0;
			display: none;
		}

		&:hover button {
			display: inline;
		}

		&:last-child {
			border-bottom-width: 0;
		}
	}

}
