@import "compass/css3";

@mixin center {
	text-align: center;
}

html {
	background-image: url(../images/retina_wood.png);
}

body {
	font: {
		family: helvetica, sans-serif;
	}
	width: 500px; 
	margin: 0 auto;
	position: relative;

	ul {
		margin: 0;
		padding: 0;

		li {
			list-style: none;
		}
	}
}

button {
	border: 0;
	background: none;
	@include appearance(none);
}

#app {
	@include border-radius(6px);
	border: 1px solid #eee;
	background: #eeeeef;
	margin: 100px 0 40px 0;
	@include box-shadow(0px 10px 50px rgba(0, 0, 0, 0.27));
}

#header {
	border-bottom: 1px dotted #ccc;
	background: rgba(0,0,0,0.02);
	@include border-radius(5px 5px 0 0);
	@include box-shadow(0 9px 15px rgba(0, 0, 0, 0.07) inset);
	input {
		width: 100%;
		margin: 0;
		font-size: 1.3em;
		padding: 3%;
		border: none;
		outline: none;
		background: transparent;
		@include box-sizing(border-box);
	}
}
#header h1 {
	margin: 0;
	position: absolute;
	top: -80px;
	font-size: 4.4em;
	width: 100%;
	font-weight: bold;
	font-spacing: 0.02em;
	@include center;
	color: #414c5c;
	@include text-shadow(
		0px 1px 0 #64748d,
		0px 2px 0 #64748d,
		0px 3px 0 #64748d,
		0px 4px 0 #5d6c84,
		0px 5px 10px rgba(0,0,0,0.3)
	);
}

#todo-list {
	li {
		border-bottom: 1px solid #AAB6BF;
		color: #5d6c84;
		position: relative;

		.toggle {
			position: absolute;
			@include appearance(none);
			margin: 8px 0 8px 5px;
			background: #C1CED8;
			height: 30px;
			width: 30px;
			@include border-radius(3px);
			//border: 3px solid #cecece;
			@include box-shadow(
				0px 2px 7px rgba(0, 0, 0, 0.3) inset,
				0 1px 0 rgba(255, 255, 255, 0.6)
			);

			&:checked {
				background: #dddddd;
			}
			&:checked:after {
				content: '✔';
				margin-left: 3px;
				line-height: 19px; /* 40 + a couple of pixels visual adjustment */
				font-size: 38px;
				color: #cccccc;
				@include text-shadow(
					0 -1px 0px #eeeeee,
					0 1px 0px #bbbbbb,
					0 2px 0px #b0b0b0
					);
			}

			&:not(:checked):hover:after {
				content: '✔';
				margin-left: 3px;
				line-height: 19px; /* 40 + a couple of pixels visual adjustment */
				font-size: 38px;
				color: #7CAB53;
				@include text-shadow(
					0 -1px 0px #B2D197,
					0 1px 0px #638945,
					0 2px 0px #638945
					);
			}
		}

		label {
			padding: 1em;
			margin-left: 40px;
			display: block;
			@include transition(color, 0.4s);
		}

		.edit {
			display: none;
			@include box-sizing(border-box);
			width: 91%;
			margin-left: 9%;
			border: none;
			padding: 1em;
			font-size: 1em;
			background: transparent;
			font-style: italic;
			color: #5D6C84;
		}

		&.editing {
			.view {
				display: none;
			}
			.edit {
				display: block;
			}
		}

		.destroy {
			position: absolute;
			right: 5px; top: 10px;
			display: none;
			width: 30px;
			height: 30px;
			font-size: 20px;
			color: #eeeeee;
			background: #C55958;
			line-height: 1em;
			@include border-radius(20px);
			@include box-shadow(
				0px 2px 5px rgba(0, 0, 0, 0.6) inset, 
				0 1px 0px
			);
			@include transition(all 0.3s);

			&:hover {
				font-size: 26px;
				line-height: .6em;
				@include box-shadow(
					0px 2px 5px rgba(255,255,255, 0.4) inset, 
					0 0px 5px rgba(0,0,0,0.6)
				);
			}

			&:after {
				content: '✘';
			}
		}

		&:hover .destroy {
			display: inline;
		}

		&:last-child {
			border-bottom-width: 0;
		}

		&.completed label {
			color: #bbbbbb;
			text-decoration: line-through;
		}
	}
}

#footer {
	position: absolute;
	font-size: 0.9em;
	margin-top: 20px;
	background: rgba(0,0,0,.25);
	@include border-radius(4px);
	@include box-shadow(
		0 3px 0 rgba(0,0,0,0.35),
		0 0 2px rgba(0,0,0,0.29),
		0 -1px 0 rgba(255,255,255,0.4)
	);
	padding: 3px 15px;
	left: 0;
	right: 0;
	@include center;
	color: #333333;
	@include text-shadow(0 1px 0 rgba(255,255,255, 0.3));

	#todo-count {
		float: left;
		text-align: left;
	}

	ul {
		position: absolute;
		left: 0;
		right: 0;
	}

	li {
		display: inline;
		padding: 0 3px;
	}

	a {
		text-decoration: none;
		color: #444;

		&.selected {
			font-weight: bold;
		}

		&:hover {
			text-decoration: underline;
		}
	}

	button {
		float: right;
		border: none;
		margin: 0;
		position: relative;
		cursor: pointer;
		background: rgba(0, 0, 0, 0.2);
		@include border-radius(2px);
		color: #ffffff;
		@include box-shadow(0 0 3px rgba(0, 0, 0, 0.9) inset);

		&:hover {
			background: rgba(0, 0, 0, 0.09);
		}
	}
}

.hidden {
	display: none;
}